<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% include 'partials/metadata.html.twig' %}
        <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.ico', true) }}" />
        {% block stylesheets %}
            {% do assets.add('theme://css/bootstrap.min.css',99) %}
            {% do assets.add('theme://css/font-awesome.min.css',99) %}
            {% do assets.add('theme://css/flaticon.css',99) %}
            {% do assets.add('theme://css/magnific-popup.css',99) %}
            {% do assets.add('theme://css/owl.carousel.css',99) %}
            {% do assets.add('theme://css/style.css',99) %}
        {% endblock %}
        {{ assets.css() }}
	      <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
        {% block javascripts %}
            {% do assets.add('theme://js/jquery-2.1.4.min.js', 101) %}
            {% do assets.add('theme://js/bootstrap.min.js', 101) %}
            {% do assets.add('theme://js//magnific-popup.min.js', 101) %}
            {% do assets.add('theme://js/owl.carousel.min.js', 100) %}
            {% do assets.add('theme://js/circle-progress.min.js', 100) %}
            {% do assets.add('theme://js/main.js', 100) %}

        {% endblock %}
        {{ assets.js() }}

        {% endblock head%}
    </head>

      <body class="{% block body_classes %}{{ page.header.body_classes }}{% endblock %}">

        <div id="preloder">
          <div class="loader">
            <img src="../../images/aymara-samudio.png" alt="">
            <h2>Cargando.....</h2>
          </div>
        </div>

        {% if config.plugins.langswitcher.enabled %}
            {% include 'partials/langswitcher.html.twig' %}
        {% endif %}
        {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}
        <div class="page-top-section">
          <div class="overlay"></div>
          <div class="container text-right">
            <div class="page-info">
              <h2>Blog</h2>
              <div class="page-links">
                <a href="#">Home</a>
                <span>Blog</span>
              </div>
            </div>
          </div>
        </div>

        {% block content %}{% endblock %}
        {% block pagination %}{% endblock %}

        <!-- newsletter section -->
      	<div class="newsletter-section spad">
      		<div class="container">
      			<div class="row">
      				<div class="col-md-3">
      					<h2>Newsletter</h2>
      				</div>
      				<div class="col-md-9">
      					<!-- newsletter form -->
      					<form class="nl-form validate" action="https://soy.us15.list-manage.com/subscribe/post?u=6046656db5f95b4e271b7fbc9&amp;id=bbe837110a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      						<input type="text" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="escribe tu email" required>
      						<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="site-btn btn-2">Suscribime!</button>
      					</form>
      				</div>
      			</div>
      		</div>
      	</div>
      	<!-- newsletter section end-->


        <footer class="footer-section">
      		<div class="row">
      			<div class="col-md-6">
      		<h2>2017 Derechos Reservados. Hecho por <a href="http://simplecs.tech" target="_blank">Simplecs</a></h2>
      	</div>
      		<div class="col-md-6">
      			<h2 id="social-icons">
      						<a target="_blank" title="Facebook" href="https://www.facebook.com/sapuru.soy">
      								<i class="fa fa-facebook fa-1x"></i>
      						</a>


      						<a target="_blank" title="Twitter" href="http://www.twitter.com/_sapuru">
      								<i class="fa fa-twitter fa-1x"></i>
      						</a>


      						<a target="_blank" title="Linkedin" href="http://linkedin.com/in/aymarasamudio">
      								<i class="fa fa-linkedin fa-1x"></i>
      						</a>


      						<a target="_blank" title="Instagram" href="http://www.instagram.com/sapuru">
      								<i class="fa fa-instagram fa-1x"></i>
      						</a>


      						<a target="_blank" title="Github" href="http://github.com/sapuru">
      								<i class="fa fa-github fa-1x"></i>
      						</a>
      					</h2>
      		</div>
      	</div>
      	</footer>
        {% block bottom %}{% endblock %}

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98401479-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-98401479-1');
        </script>
    </body>
</html>
